{% comment %} {% if latest_employee_list %}
    {% for employee in latest_employee_list %}
        <li>
            <a href="{% url 'sale_management:detail' employee.id %}">
                {{ employee.name }}
            </a></li>
    {% endfor %}
{% else %}
    <p>No employee available<p>
{% endif %} {% endcomment %}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
    
    {% if employee_list %}
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Date of birth</th>
            </tr>
            {% for employee in employee_list %}
            <tr>
                <td>{{ employee.id }}</a></td>
                <td><a href="{% url 'sale_management:detail' employee.id %}">{{ employee.name }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.dob }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>No employee is available</h1>
    {% endif %}