{% comment %} {% if order_detail %}
    {%for item in order_detail%}
        <li>
            {{item}}
        </li>
    {%endfor%}
{%else%}
    <p> No item available </p>
{%endif%} {% endcomment %}

  
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
    
    {% if order %}
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Employee</th>
            </tr>
            {% for item in order.orderdetail_set.all %}
            <tr>
                <td>{{ item.id }}</a></td>
                <td>{{ item.product }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>No order are available</h1>
    {% endif %}